
<div class="ui items"  ng-repeat="post in posts">
  <div class="item ">
    <div class="ui tiny image">
      <img src="/assets/imgs/jenny.jpg">
    </div>
    <div class="middle aligned content">
      <div class="header">
          {{post.user}}
      </div>
      <div class="description">
        <pre>{{post.description}}</pre>
      </div>
       <div class="meta">
        <span class=""> <i class="thumbs up icon"></i> {{post.likes}} likes</span>
        <span class=""> <i class="comments icon"></i> {{post.comments}} comments </span>
        <span class="ui right floated small button">
          See>>
        </span>
      </div>
  </div>
</div>


</div>