<div class="ui items">
  <div class="item ">
    <div class="ui tiny image">
      <img src="/assets/imgs/jenny.jpg">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Nguyen Trong Luong
      </div>
      <div class="description">
        <p>
          We Work Remotely is the best place to find and list jobs that aren’t restricted by commutes or a particular geographic area. Find the most qualified people in the most unexpected place
         </p>
      </div>
       <div class="meta">
        <span class=""> <i class="thumbs up icon"></i> 10 likes</span>
        <span class=""> <i class="comments icon"></i> 20 comments </span>
        <span class="ui right floated small button">
          See>>
        </span>
      </div>
  </div>
</div>


</div>