<aside>
<div class="ui items user_profile">
  <div class="item">
    <a class="ui tiny image">
      <img src="/assets/imgs/jenny.jpg">
    </a>
    <div class="content">
      <a class="header">Stevie Feliciano</a>
      <div class="description">
        <p>Jenny is a student studying Media Management at <a>the New School</a>.</p>
      </div>
    </div>
  </div>
</div>


<div class="ui form">
  <div class="field user-input-form">
    <label>Text</label>
    <textarea style="height: 100px;"> </textarea>
  </div>
</div>

</aside>