<div class="question-container" >
  <div class="ui cards one wide column "  ng-repeat="question in questions" >

    <div class="card  " style="background-color: ; border: 5px solid green; box-shadow: 12px 12px 5px #888888;">
      <div class="content">
        <div class="header"> Question {{question.id}}

          <span class="point"> +{{question.point}} </span>
        </div>
        
        <div class="description">
          {{question.description}}
        </div>
      </div>
      
      
    
     <form name="answer-form" class="ui form" style="margin: 5% 0 5% 15%;">
      <div class="grouped fields">
        <label>Your answer?</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" ng-model="question.userAnswer" value="{{question.answers[0].correct}}">
            <label> {{question.answers[0].option}}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" ng-model="question.userAnswer" value="{{question.answers[1].correct}}">
            <label>{{question.answers[1].option}}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" ng-model="question.userAnswer" value="{{question.answers[2].correct}}">
            <label>{{question.answers[2].option}}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" ng-model="question.userAnswer" value="{{question.answers[3].correct}}">
            <label>{{question.answers[3].option}}</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card" ng-show="!question.done" >
    <button class="ui  blue tiny button"  ng-click="checkResult($index)">Check</button>
  </div>

<br>
<br>
<br>
</div>



</div>