<div class="question-container">
<div class="ui cards one wide column">
  <div class="card">
    <div class="content">
      <div class="header"> Question 1

      <span class="point"> +5 </span>
      </div>
      
      <div class="description">
        Nhiet do soi cua nuoc la bao nhieu: 
      </div>
    </div>
    
    <div class="ui checkbox">
      <input type="checkbox" name="example">
      <label>Make my profile visible</label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="example">
      <label>Make my profile visible</label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="example">
      <label>Make my profile visible</label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="example">
      <label>Make my profile visible</label>
    </div>
  </div>

</div>
</div>