
<div class=" ui cards two wide column">
  <a class="card" ui-sref=".quizs({subjectName: 'math'})">
    <div class="content">
      <div class="header"> Math</div>
      <div class="meta">2 Quizs</div>
      <div class="description">
        Elliot Fu is a film-maker from New York.
      </div>
    </div>
  </a>
  <a class="card">
    <div class="content">
      <div class="header">Science</div>
      <div class="meta">1 Quiz</div>
      <div class="description">
        Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
      </div>
    </div>
  </a>
</div>

<div class=" ui cards two wide column">
<a class="card">
    <div class="content">
      <div class="header">History</div>
      <div class="meta">1 Quiz</div>
      <div class="description">
        Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
      </div>
    </div>
  </a>

<a class="card">
    <div class="content">
      <div class="header">English</div>
      <div class="meta">1 Quiz</div>
      <div class="description">
        Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
      </div>
    </div>
  </a>

</div>