
<div class=" ui cards two wide column">
  <a class="card" ui-sref=".quizs({subjectName: 'math'})">
    <div class="content">
      <div class="header"> Physics</div>
      <div class="meta">4 Quizs</div>
      <div class="description">
  
      </div>
    </div>
  </a>
  <a class="card">
    <div class="content">
      <div class="header">Science</div>
      <div class="meta">1 Quiz</div>
      <div class="description">
  
      </div>
    </div>
  </a>
</div>

<div class=" ui cards two wide column">
<a class="card">
    <div class="content">
      <div class="header">History</div>
      <div class="meta">1 Quiz</div>
      <div class="description">

      </div>
    </div>
  </a>

<a class="card">
    <div class="content">
      <div class="header">English</div>
      <div class="meta">1 Quiz</div>
      <div class="description">
  
      </div>
    </div>
  </a>

</div>