<div class="header-container" style="overflow:hidden">
  <img src="/assets/imgs/QuizUp_Logo.png" alt="Logo" class="logo-img">
  <div class="btn-header" style="float: right;">
  <div class="ui buttons " >
      <button class="ui button blue" ng-click="signup()">Signup</button>
      <div class="or"></div>
      <button class="ui button blue" ng-click="login()">Login</button>



<div class="ui small signup modal">
  <div class="header">Sign up</div>
  <div class="content">

    <form class = "form-sign-up">
    <div class="ui labeled input" style="width: 100%; ">
    <div class="ui label" style="width: 100px; background-color: blue; color: white;">
      Email:
    </div>
    <input type="text" placeholder="..." >
    </div>

      <br>
      <br>
    <div class="ui labeled input" style="width: 100%;">
    <div class="ui label" style="width: 100px; background-color: blue; color: white;">
      Password:
    </div>
    <input type="password" placeholder="...">
    </div>
      <br>
      <br>
    <div class="ui labeled input" style="width: 100%;">
    <div class="ui label" style="width: 100px; background-color: blue; color: white;">
      Confirm:
    </div>
    <input type="password" placeholder="...">
    </div>
      <br>
      <br>
    <button class="ui teal button " style="float: right;">Submit</button>
    <br>
    <br>
    </form>


  </div>  
</div>




<div class="ui small login modal">
   <div class="header">Login</div>
     <div class="content">
    <div class="ui labeled input">
    <div class="ui label" style="width: 100px; background-color: blue; color: white;">
      Email:
    </div>
    <input type="text" placeholder="...">
    </div>

      <br>
    <div class="ui labeled input">
    <div class="ui label" style="width: 100px; background-color: blue; color: white;">
      Password:
    </div>
    <input type="password" placeholder="...">
    </div>
      <br>
</div>

  </div>
  </div>
</div>